defmodule <%= name %> do
  @moduledoc """
  <%!-- TODO: do left padding on date_num everywhere EXCEPT here --%>
  https://adventofcode.com/2023/day/<%= date_num %>
  """

  def run(filename \\ "inputs/<%= date_num %>/input.txt") do
    filename
    |> File.read!()
    0
  end
end