defmodule <%= name %>Test do
  use ExUnit.Case

  test "part 1" do
    assert <%=name %>.run("inputs/<%= date_num %>/sample.txt") == 0
  end

  test "part 2" do
    # assert <%= name %>2.run("inputs/<%= date_num %>/sample.txt") == 0
  end
end
